<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Update Supplies</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>

    <div class="container-fluid">
        <h2>Hello!</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Update Supplies
                    </div>
                    <div class="card-body">
                        <form th:action="@{/lab/stok/ubah/{id}}" th:object="${supplies}" method="POST">
                            <input type="hidden" name="id" th:value="${supplies.id}" />
                            Jenis Barang: <br>
                            <input type="text" name="jenis" th:value="${supplies.jenis}" class="form-control" readonly/>
                            Nama Barang: <br>
                            <input type="text" name="nama" th:value="${supplies.nama}" class="form-control" readonly/>
                            Jumlah Barang: <br>
                            <input type="int" name="jumlah" th:value="${supplies.jumlah}" class="form-control" />
                            Deskripsi Barang: <br>
                            <input type="text" name="deskripsi" th:value="${supplies.deskripsi}" class="form-control" readonly/>
                            <br><br>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>